.hub {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    gap: 1rem;
}

.games {
    height: 90vh;
    display: grid;
}

.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.game-container > div {
   border: 1px solid black;
   text-align: center;
   margin: 1rem;
   
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px, 2px 2px 2px rgba(0,0,0,0);
    font-size: 40px;

}


