.login {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    gap: 1rem;
    padding: 0 8rem;
    color:grey
}

.input-login {
    justify-content: center;
    align-content: center;
    height: 30px;
    text-align: center; 
    font-size: 18px;
    border: 2px solid grey;
    width: 60%;

}

.button-login {
    justify-content: center;
    align-content: center;
    height: 40px;
    font-size: 16px;
    border-radius: 0.3rem;
    border: 2px solid grey;
    width: 20%;
   
}

