.login {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    gap: 1rem;
    padding: 0 8rem;
}

.input-login {
    justify-content: center;
    align-content: center;
    height: 30px;

}

.button-login {
    justify-content: center;
    align-content: center;
    height: 40px;
    font-size: 16px;
}

.input-login {
    text-align: center; 
    font-size: 18px;
}