* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    background-color: whitesmoke;
    background-color: inherit;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
}


