.card-container {
    text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px, 2px 2px 2px rgba(0,0,0,0);
    display: grid;
    grid-template-columns: repeat(5, 15rem);
    grid-template-rows: repeat(30, 15rem);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card-container > div > img {
    height: 10rem;
    width: 10rem;
    display: flex;
}

.card-container > div > h2 {
    display: flex;
    margin-top: 1rem;
    
}
